* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  background: lightgrey;
  height: 20%;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #000;
}
main {
  height: 80vh;
}
footer {
  background: #000;
  height: 20%;
}
